langchain
langchain-community
langchain-groq
faiss-cpu
tiktoken
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
python-docx
docx2txt
unstructured[docx]
pandas
openpyxl
jq
matplotlib
langchain_huggingface
sentence-transformers
langchain-core
langchain_ollama
langchain-astradb
langchain-experimental